[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pymongo = "*"
motor = "*"
python-dotenv = "*"
python-jose = "*"
pydantic = {extras = ["email"], version = "*"}
argon2-cffi = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.14"
